services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag-doc-app
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - ./storage:/app/storage
    restart: unless-stopped


  chroma:
    image: chromadb/chroma:latest
    container_name: rag_chroma
    restart: unless-stopped
    volumes:
      - rag_chroma_data:/chroma/chroma

volumes:
  rag_chroma_data: