services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag-doc-app
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - ./storage:/app/storage
    restart: unless-stopped